.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-add-note {
    width: 100%;
}

.add-note-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #555;
    border-radius: 5px;
}

.task-input {
    width: 40%;
    resize: none;
    font-weight: 500;
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
}

#priority {
    padding: 7px 14px;
    border-radius: 7px;
}

.add-btn {
    padding: 7px 14px;
    border-radius: 7px;
    cursor: pointer;
}

.section-cards {
    width: 100%;
    min-height: 64vh;
    margin: 4vh 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 24px;
    justify-items: center;
    align-items: center;
}

.article-note-card {
    border: 1px solid black;
    width: 280px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.card-done {
    background-color: #ddd;
    text-decoration: line-through;
}

.note-actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#taskCheck {
    cursor: pointer;
}

.note-priority {
    padding: 0 4px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.priorityColor-red {
    background-color: #F22;
}

.priorityColor-yellow {
    background-color: #FF2;
}

.priorityColor-green {
    background-color: #2F2;
}

.delete-btn {
    cursor: pointer;
}

.note-content {
    width: 100%;
    height: 86%;
    padding: 2px 2px;
}


@media (max-aspect-ratio: 1/1) {
  .section-add-note {
    height: 30vh;
  }

  .add-note-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }


  .task-input {
    width: 90%;
  }
}