.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-add-note {
    width: 100%;
    margin: 0 auto;
}

.add-note-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-cards {
    width: 100%;
    min-height: 64vh;
    margin: vh 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 24px;
    justify-items: center;
    align-items: center;
}

.article {
    border: 1px solid black;
    width: 280px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.note-actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.note-priority {
    padding: 0 4px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.note-content {
    width: 100%;
    padding: 2px 2px;
}


@media (max-aspect-ratio: 1/1) {
  .add-note-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}