*::before, *::after, html, body, div, header, main, section, article, footer, h1, h2, h3, p, input, button, select, option, img{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    margin: 8vh 4vw;
}

@media (max-aspect-ratio: 1/1) {
  .container {
    margin: 2vh 4vw;
  }
}
